body {
  margin: 0;
  padding: 0;
}
.banner {
  background-image: url(images/WhatsApp\ Image\ 2024-03-04\ at\ 11.24.43\ AM.jpeg);
  background-position: center;
  background-size: cover;

  /* padding-bottom: 10%; */
}
.navbarr {
  background-color: black;
  opacity: 50%;
}
.service-bg{
  background-image: url(images/Services\ \(2\).png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bg-team{
  background-image: url(images/Our\ Team\ \(2\).png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.banner-text {
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 90px;
}
.banner-heading1 {
  /* font-family: inter; */
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 48px;
  color: rgba(255, 255, 255, 1);
}
.banner-heading2 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}
.navbar-brand {
  margin-left: 100px !important;
}
.contact-us {
  background-color: rgba(216, 176, 141, 1);
}
.contact-heading1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  margin-top: 17px;
}
.contact-heading2 {
  font-size: 14px;
  font-weight: 600;
  /* text-align: center; */
  line-height: 10px;
  color: rgba(255, 255, 255, 1);
}
.text {
  font-size: 16px;
  line-height: 19px;
}
.btnn {
  background-color: rgba(216, 176, 141, 1);
}
.btn:hover {
  background-color: rgba(216, 176, 141, 1);
}
/* services */
.service-div {
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px 3px #d0d0d0;
}
.service-heading {
  /* font-family: inter; */
  font-weight: 500;
  font-size: 20px;
  line-height: 7px;
  color: rgba(216, 176, 141, 1);
  margin-top: 19px;
}

.service-details {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(188, 188, 188, 1);
}
.bg-color {
  background-color: #f9f9f9;
}
.card-title {
  /* font-family: inter; */
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: rgba(216, 176, 141, 1);
}
.card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: rgba(188, 188, 188, 1);
}
.intrest-heading {
  /* font-family: Inter; */
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(239, 237, 238, 1);
  padding-top: 10px;
}
.intrest-button {
  /* font-family: Inter; */
  font-size: 28px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(216, 176, 141, 1);
  background-color: white !important;
  margin-top: 30px;
  padding: 12px;
  transition: border 0.3s ease-in-out;
  border-color: rgba(216, 176, 141, 1);
}
.intrest-button:hover {
  color: rgba(216, 176, 141, 1);
  border: 2px solid rgba(216, 176, 141, 1);
}
.intrest-button:active {
  color: rgba(216, 176, 141, 1);
  border: 2px solid rgba(216, 176, 141, 1);
}
.f-div {
  border: 2px solid white;
  border-radius: 5px;
  /* padding: 10px; */
  background-color: #ffffff;
  box-shadow: 2px 2px 10px 3px #d0d0d0;
  text-align: center;
  padding: 84px 9px;
  max-width: 70px;
  margin-left: 10px;
  margin-top: 12px;
}
.footer-tag {
  border-right: 2px solid rgba(216, 176, 141, 1);
  padding: 2px 7px 2px 5px;
  text-decoration: none;
  color: rgba(216, 176, 141, 1);
}
.b-press {
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(216, 176, 141, 1);
}
.b-press-test {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(33, 37, 41, 1);
}
.nail1 {
  margin-top: 10px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(216, 176, 141, 1);
}
.prices {
  font-family: Inter;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(191, 191, 191, 1);
}

.doller {
  font-family: Inter;
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(216, 176, 141, 1);
}
.product {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(191, 191, 191, 1);
}

.price {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  /* text-align: left; */
  float: inline-end;
  color: rgba(191, 191, 191, 1);
}

.price-btn {
  background-color: rgba(216, 176, 141, 1);
  color: white;
  border: 1px solid rgba(216, 176, 141, 1) !important;
}
.price-btn:hover {
  background-color: rgba(216, 176, 141, 1);
  color: white !important;
  border: 1px solid rgba(216, 176, 141, 1);
}
.readmore {
  background-color: rgba(216, 176, 141, 1);
  border: 1px solid rgba(216, 176, 141, 1);
  color: white !important;
}

.form-control {
  box-shadow: 1px 1px 5px gray;
}
::placeholder {
  color: lightgray !important;
}
.submit {
  background-color: rgba(216, 176, 141, 1);
  color: white;
  border: rgba(216, 176, 141, 1);
}
.submit:hover {
  background-color: rgba(216, 176, 141, 1);
  color: white !important;
  border: rgba(216, 176, 141, 1);
}
.contact-heading2-1st {
  margin-left: 76px;
}
.contact-heading2-2nd {
  margin-left: 96px;
}
.contact-heading2-3rd {
  margin-left: 29px;
}

.carousel-control-next-icon {
  background-color: rgba(216, 176, 141, 1);
  border-radius: 2px;
  margin-top: 60px;
  margin-left: 88px;
}
.carousel-control-prev-icon {
  background-color: rgba(216, 176, 141, 1);
  border-radius: 2px;
  margin-top: 60px;
  margin-right: 88px;
}
.bg-circle{
  background-image: url(images/Frame\ 92.png);
  background-repeat: no-repeat;
  /* background-position: center center;*/
  background-size: cover; 
}
.lg-text {
  position: relative;
  font-size: 92px;
  font-weight: 700;
  line-height: 111px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-shadow: 2px 4px 15px rgba(0, 0, 0, 0.25);
}
.sm-text {
  position: absolute;
  top: 60px;
  right: 42px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  color: rgba(216, 176, 141, 1);
}

.borderr {
  border-left: 4px solid rgba(216, 176, 141, 1);
  border-radius: 10px;
}
.contact-info {
  padding: 10px 2px 10px 2px;
  color: rgba(216, 176, 141, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.circle-no {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 13px;
  color: rgba(216, 176, 141, 1);
}
.circle-text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  margin-top: -23px;
  
  color: rgba(216, 176, 141, 1);
}
.circlee {
  background-color: white;
  border-radius: 50%;
  border: 17px solid rgba(216, 176, 141, 1);
  width: 180px;
  height: 180px;
  box-sizing: border-box;
  box-shadow: 0 0 10px gray;
}
@media screen and (min-width: 1199px) {
  .navbar {
    margin-left: 100px;
  }
}

@media screen and (max-width: 992px) {
  .home-page-img {
    text-align: center;
  }
  .btn-container {
    text-align: center;
    margin-bottom: 30px;
  }
  .intrest-heading {
    text-align: center;
  }
  .intrest-btn {
    text-align: center;
  }
  .about-img {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .intrest-heading {
    font-size: 27px;
  }
  .intrest-btn {
    font-size: 23px;
  }
  .banner-heading1 {
    font-size: 32px;
  }
  .banner-heading2 {
    font-size: 17px;
  }
  .contact-img {
    height: 100px !important;
    text-align: center;
  }
  .carousel-control-next-icon {
    background-color: rgba(216, 176, 141, 1);
    border-radius: 2px;
    margin-top: -46px;
    margin-left: 28px;
  }
  .carousel-control-prev-icon {
    background-color: rgba(216, 176, 141, 1);
    margin-top: -46px;
    border-radius: 2px;
    margin-right: 28px;
  }
}

@media screen and (max-width: 767px) {
  .address {
    margin-left: -65px;
  }
  .timing {
    margin-left: -25px;
  }
  .contact-heading2-1st {
    margin-left: 76px;
  }
  .contact-heading2-2nd {
    margin-left: 41px;
  }
  .contact-heading2-3rd {
    margin-left: 7px;
  }
  .circlee {
    margin-top: 0px;
  }
  .c-1 {
    margin-top: 80px !important;
  }
  .u-tube-img {
    margin-top: 25px;
  }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  .contact-heading2-1st {
    margin-left: 48px;
    line-height: 15px;
  }
}
@media screen and (min-width: 400px) and (max-width: 991px) {
  .cards {
    width: 22rem !important;
  }
}
@media screen and (min-width: 1400px) {
  .sm-text-client {
    position: absolute;
    top: 65px;
    right: 358px;
  }
  .sm-text-about {
    top: 62px;
    right: 90px;
  }
  .sm-text-team {
    top: 68px;
    right: 410px;
  }
  .sm-text-follow {
    top: 67px;
    right: 390px;
  }
  .sm-text-services {
    top: 162px;
    left: 231px;
  }
  .sm-text-contact {
    top: 160px;
    left: 318px;
  }
  .sm-text-blog {
    top: 63px;
    left: 260px;
  }
  .sm-text-work {
    top: 114px;
    left: 325px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .sm-text-client {
    position: absolute;
    top: 65px;
    right: 178px;
    
  }
  .sm-text-work {
    top: 114px;
    left: 325px;
  }
  .sm-text-contact {
    top: 160px;
    left: 318px;
  }
  .lg-text-about{
    font-size: 84px!important;
  }
  .sm-text-about {
    top: 62px;
    right: 20px;
  }
  .sm-text-team {
    top: 68px;
    right: 410px;
  }
  .sm-text-follow {
    top: 67px;
    right: 213px;
  }
  .sm-text-services {
    top: 162px;
    left: 231px;
  }
  .sm-text-blog {
    top: 63px;
    left: 260px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {

  .sm-text-client {
    position: absolute;
    top: 65px;
    right: 271px;
    
  }

  .sm-text-contact {
    top: 160px;
    left: 318px;
  }
  .sm-text-about {
    top: 60px;
    right: 64px;
  }
  .lg-text-about {
    font-size: 84px;
  }
  .sm-text-follow {
    top: 66px;
    right: 301px;
  }
  .sm-text-services {
    top: 160px;
    left: 231px;
  }
  .sm-text-team {
    top: 65px;
    right: 323px;
  }
  .sm-text-blog {
    top: 63px;
    left: 260px;
  }
  .sm-text-work {
    top: 114px;
    left: 325px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sm-text-work {
    top: 114px;
    left: 325px;
  }
  .sm-text-contact {
    top: 160px;
    left: 318px;
  }
  .sm-text-blog {
    top: 63px;
    left: 260px;
  }
  .sm-text-client {
    position: absolute;
    top: 66px;
    right: 57px;
  }
  .sm-text-about {
    top: 60px;
    right: 140px;
  }
  .lg-text-about {
    font-size: 84px;
  }
  .sm-text-follow {
    top: 63px;
    right: 91px;
  }
  .sm-text-services {
    left: 231px;
    top: 161px;
  }
  .sm-text-team {
    top: 66px;
    right: 113px;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .sm-text-work {
    top: 114px;
    right: 9px;
    font-size: 35px;
  }
  .sm-text-blog {
    top: 63px;
    left: 260px;
  }
  .sm-text-contact {
    top: 160px;
    right: 41px;
    font-size: 38px;
  }
  .lg-text-contact {
    font-size: 78px;
  }
  .sm-text-client {
    position: absolute;
    top: 58px;
    right: 13px;
    font-size: 33px;
  }
  .lg-text-client {
    font-size: 78px;
  }
  .sm-text-about {
    right: 30px;
  }
  .sm-text-follow {
    right: 1px;
  }
  .sm-text-services {
    top: 162px;
    right: 107px;
  }
  .sm-text-team {
    top: 66px;
    right: 20px;
  }
  .carousel-control-next-icon {
    background-color: rgba(216, 176, 141, 1);
    border-radius: 2px;
    margin-top: -46px;
    margin-left: 58px;
  }
  .carousel-control-prev-icon {
    background-color: rgba(216, 176, 141, 1);
    border-radius: 2px;
    margin-top: -46px;
    margin-right: 58px;
  }
}
@media screen and (min-width: 525px) and (max-width: 576px) {
  .sm-text-work {
    top: 100px;
    right: 88px;
    padding-bottom: 0px;
  }
  .lg-text-work {
    padding-top: 0;
    padding-bottom: 0px;
    margin-bottom: -43px;
  }
  .sm-text-blog {
    top: 57px;
    left: 132px;
  }
  .sm-text {
    font-size: 35px;
  }
  .lg-text {
    font-size: 60px;
  }
  .sm-text-contact {
    top: 154px;
    right: 163px;
  }
 
  .sm-text-about{
    top: 50px;
    right: 121px
  }
  .sm-text-services{
    top: 150px;
    left: 103px;
  }
  .sm-text-team{
    top: 49px;
    right: 119px;
  }
  .sm-text-follow{
    top: 51px;
    right: 105px;
  }
  .sm-text-client {
    top: 43px;
    right: 146px;
    font-size: 23px;
  }
  .lg-text-client {
    font-size: 40px;
  }
}

@media screen and (min-width: 425px) and (max-width: 525px) {
  .sm-text-work {
    top: 100px;
    right: 74px;
    padding-bottom: 0px;
  }
  .lg-text-work {
    padding-top: 0;
    padding-bottom: 0px;
    margin-bottom: -43px;
  }
  .sm-text-blog {
    top: 47px;
    left: 116px;
  }
  .sm-text {
    font-size: 35px;
  }
  .lg-text {
    font-size: 60px;
  }
  .sm-text-contact {
    top: 154px;
    right: 163px;
  }
  .sm-text-about{
    top: 46px;
    right: 86px;
  }
  .sm-text-services{
    top: 150px;
    left: 103px;
  }
  .sm-text-team{
    top: 49px;
    right: 81px;
  }
  .sm-text-follow{
    top: 49px;
    right: 70px;
  }
  .sm-text-client {
    top: 47px;
    right: 100px;
    font-size: 23px;
  }
  .lg-text-client {
    font-size: 40px;
  }
 
}

@media screen and (min-width: 300px) and (max-width: 425px) {
  .sm-text-work {
    top: 100px;
    right: 74px;
    padding-bottom: 0px;
  }
  .lg-text-work {
    padding-top: 0;
    padding-bottom: 0px;
    margin-bottom: -43px;
  }
  .sm-text-blog {
    top: 47px;
    left: 116px;
  }
  .sm-text {
    font-size: 27px;
  }
  .lg-text {
    font-size: 50px;
  }
  .sm-text-contact {
    
    top: 90px;
    right: 48px;
  }
  .lg-text-contact {
    padding-top: 0px!important;
    font-size: 40px;
  }
  .sm-text-about{
    top: 46px;
    right: 50px;
  }
  .sm-text-services{
    top: 144px;
    left: 103px;
  }
  .sm-text-team{
    top: 49px;
    right: 50px;
  }
  .sm-text-follow{
    top: 49px;
    right: 50px;
  }
  .sm-text-client {
    
    top: 47px;
    right: 35px;
    font-size: 23px;
  }
  .lg-text-client {
    font-size: 40px;
  }
}
